* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.up-header {
  display: flex;
  margin: 10px 120px;
  justify-content: space-around;
}

.smi {
  list-style: none;
  display: flex;
}

.smi li {
  padding: 0 8px;
}

.register {
  list-style: none;
  display: flex;
}

.register li {
  padding: 0 20px;
}

.register a {
  text-decoration: none;
  color: black;
}

.register img {
  padding-right: 4px;
}

#rg {
  padding-right: 12px;
}

#lg {
  padding-left: 12px;
}

.vertical-line1 {
  border-right: 2px solid black;
}

.vertical-line2 {
  border-right: 2px solid black;
}

hr {
  border: 0.1px solid #d8d8d8;
}

image {
  width: 100%;
}

#Chcam,
#ext,
#S-Class,
#USD,
#GLS,
#Chvr {
  width: 100%;
}

.Classifieds {
  max-width: 60%;
  margin: 30px auto;
}

p {
  margin: 5px 0;
}


.hd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}