html, body {
  scroll-behavior:smooth;
}
:root {
  --primary: #f4b01d;
  --secondary: #d8d8d8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button{
  cursor: pointer;
}

body {
  scroll-behavior:smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
}

.up-header {
  display: flex;
  max-width: 70%;
  margin: 5px 15%;
  justify-content: space-between;
}

.smi {
  list-style: none;
  display: flex;
}

.smi li{
  padding: 0 8px;
  font-size: 12px;
}

.up-header .smi a {
  color: black;
}

.register {
  list-style: none;
  display: flex;
}

.register li {
  padding: 0 20px;
}

.register a,
.register p {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.register img {
  padding-right: 4px;
}
/* ID e register  */

#rg {
  padding-right: 12px;
}
/* ID e login  */

#lg {
  padding-left: 12px;
}

/* Fillimi i style=it per box-at*/

/* color rating stars */
.fa-star {
  font-size: 15px;
  color: var(--primary);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #929292;
  background-color: #373737;
  font-size: 12px;
  margin-top: 110px;
}

footer h1 {
  color: white;
  font-size: 50px;
  margin: 40px 0 5px 0;
}

#bottom,
label,
footer .smi {
  margin: 15px 0;
}

footer a {
  text-decoration: none;
  color: #929292;
  font-size: 13px;
}

#bottom {
  margin-bottom: 50px;
}

footer input {
  background-color: #373737;
  border: 1px solid #929292;
  width: 240px;
  line-height: 40px;
  font-size: 12px;
  padding-left: 15px;
  border-right: none;
  z-index: 2;
  color: white;
}

footer input:focus {
  outline: none;
}

footer button {
  background: var(--primary);
  border:1px solid #929292 ;
  border-left: none;
  cursor: pointer;
  line-height: 40px;
  padding: 0 25px;
  font-weight: 700;
  position:relative;
  font-size: 12px;
  right: 4px;
  z-index: 1;
}

footer button:active {
  transform: scale(0.98);
}

footer button:hover {
  background-color:#b17c09 ;
}
footer img {
  width: 20px;
}
label img {
  position: relative;
  left: 6px;
  width: 5px;
}
