html {
  scroll-behavior:smooth;
}
:root {
  --primary: #f4b01d;
  --secondary: #d8d8d8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
}

.up-header {
  display: flex;
  max-width: 70%;
  margin: 5px 15%;
  justify-content: space-between;
}

.smi {
  list-style: none;
  display: flex;
}

.smi li{
  padding: 0 8px;
  font-size: 12px;
}

.up-header .smi a {
  color: black;
}

.register {
  list-style: none;
  display: flex;
}

.register li {
  padding: 0 20px;
}

.register a,
.register p {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.register img {
  padding-right: 4px;
}
/* ID e register  */

#rg {
  padding-right: 12px;
}
/* ID e login  */

#lg {
  padding-left: 12px;
}

/* Fillimi i style=it per box-at*/

.boxContainer
{
  margin: 1em 0 2em;
  display: flex;
  flex-flow: row wrap;
}

h2
{
  font-size: medium;
}

.boxContainer div:nth-of-type(4), .boxContainer div:nth-of-type(8)
{
  margin-right: 0;
}


.box, .box2
{
  display: inline-block;
  width: 24.15%;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
  background-color: white;
}

.box2
{
  box-shadow: 5px 5px 10px -6px rgba(0,0,0,1);
}

.box:hover
{
  transform: scale(1.1);
  transition: 500ms;
}

.box ul, .box2 ul
{
  list-style: none;
  font-size: 10px;
  font-weight: 500;
  margin: 1em;
}

.box ul li, .box2 ul li
{
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 0.5em;
  border-bottom: dashed 1px var(--secondary);
}

.box ul li:last-child, .box2 ul li:last-child
{
  border-bottom: none;
}

.box ul li span:last-child, .box2 ul li span:last-child
{
  color: #9d9d9d;
}

.box h3
{
  color: white;
  font-weight: 600;
  font-size: 13px;
  width: 100%;
  padding: 1.5em;
  background-size: cover;
  background-position: top;
}

.box2 h3
{
  display: flex;
  justify-content: space-between;
  font-weight:700;
  font-size: 12px;
  width: 100%;
  background-color: #f2f2f2;
  padding: 0.75em;
  border-top: 2px solid var(--primary);
}

.box2 h3 span
{
  margin: 0 1em;
}

#electronics
{
  background-image: url(./assets/Images/ElectronicsBG.png);
}

#realEstate
{
  background-image: url(./assets/Images/RealEstateBG.png);
}

#vehicles
{
  background-image: url(./assets/Images/VehiclesBG.png);
}

#jobs
{
  background-image: url(./assets/Images/JobsBG.png);
}

#fashion
{
  background-image: url(./assets/Images/FashionBG.png);
}

#restaurants
{
  background-image: url(./assets/Images/RestaurantsBG.png);
}

#hotelTravel
{
  background-image: url(./assets/Images/Hotel&TravelBG.png);
}

#matrimonials
{
  background-image: url(./assets/Images/MatrimonialsBG.png);
}

/*Mbarimi i style-it per box-a*/

.vertical-line1 {
  border-right: 2px solid black;
}

.vertical-line2 {
  border-right: 2px solid black;
}

hr {
  border: 0.1px solid var(--secondary);
}

.container .item-list .image {
  width: 100%;
}
/* ID e imazheve ( veturave )  */

#Chcam,
#ext,
#S-Class,
#USD,
#GLS,
#Chvr {
  width: 170px;
  height: 100px;
  padding-top: 7px;
}

.details p {
  margin: 5px 0;
  font-size: 11.5px;
}


.main {
  max-width: 70%;
  margin: 30px auto;
}

.hd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.right button {
  display: inline-block;
  padding: 10px 32px;
  background-color: #fff;
  margin-left: 2px;
  border-style: none;
}

.right button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.item-list {
  background-color: #fff;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  justify-content: space-between;
  padding: 20px;
  gap: 23px;
}

.container a {
  color: black;
  text-decoration: none;
}

.details .heading {
  font-size: 19px;
  font-weight: 700;
}

.price {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}


.links a {
  font-size: 12px;
  margin-right: 2px;
  font-weight: bold;
  color: black;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--secondary);
}


/* color rating stars */
.fa-star {
  font-size: 15px;
  color: var(--primary);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #929292;
  background-color: #373737;
  font-size: 12px;
  margin-top: 110px;
}

footer h1 {
  color: white;
  font-size: 50px;
  margin: 40px 0 5px 0;
}

#bottom,
label,
footer .smi {
  margin: 15px 0;
}

footer a {
  text-decoration: none;
  color: #929292;
  font-size: 13px;
}

#bottom {
  margin-bottom: 50px;
}

footer input {
  background-color: #373737;
  border: 1px solid #929292;
  width: 240px;
  line-height: 40px;
  font-size: 12px;
  padding-left: 15px;
  border-right: none;
  z-index: 2;
  color: white;
}

footer input:focus {
  outline: none;
}

footer button {
  background: var(--primary);
  border:1px solid #929292 ;
  border-left: none;
  cursor: pointer;
  line-height: 40px;
  padding: 0 25px;
  font-weight: 700;
  position:relative;
  font-size: 12px;
  right: 4px;
  z-index: 1;
}

footer button:active {
  transform: scale(0.98);
}

footer button:hover {
  background-color:#b17c09 ;
}
footer img {
  width: 20px;
}
label img {
  position: relative;
  left: 6px;
  width: 5px;
}
